<!--
body { background-color: black;
       background-image: url("../../img/bg.gif");
       color: white;
       font-family: Verdana, Arial, Helvetica, sans-serif;
       margin: 0px;
       padding: 0px; }
a { text-decoration: none; }
a:link { color: red; }
a:visited { color: #b22222; }
a:active { color : yellow; }
a:hover { color: yellow; }
img { border-width: 0px; }
.box { border: 1px solid white;
       font-size: 8pt;
       margin-top: 3px;
       padding: 1px;
       width: 280px; }
.box li { list-style: disc outside none; }
.box ul { margin-bottom: 3px;
          margin-left: 1em;
          margin-top: 3px;
          padding-left: 5px; }
.imgcell img { display: block; }
-->
