<!--
table { border: 2px solid white;
        border-spacing: 4px; }
.post td { border: 1px solid #b22222; }
.ttl { font-weight: bold;
       text-decoration: none;
       text-transform: uppercase; }
.cat { color: red; }
-->
