<!--
  /* Layout and Positioning */
  body { background-color: black;
         color: black;
         font-family: Arial, Helvetica, sans-serif;
         font-size: 10pt;  
         margin: 0px;
         padding: 0px;
         text-align: center; }
  #container { margin-left: auto;
               margin-right: auto;
               overflow: hidden;  /* For equal height columns */
               padding: 0px;
               text-align: left;
               width: 960px; }
  #banner { background-color: #0d3a9f;
            margin: 0px;
            padding: 0px; }
  .column { background-color: #0d3a9f;
            float: left;
            margin: 0px 0px -32767px 0px;  /* (-)32767 is for equal height columns */
            padding: 0px 5px 32767px 5px; }
  #navigator { width: 170px; }
  #content { background-color: white;
             background-image: url("../img/bg_paper.gif");
             padding-left: 10px;
             width: 550px; }
  #tools { width: 205px; }
  .overlay { background-color: black;
             color: white;
             height: 768px;
             left: 0px;
             position: absolute;
             text-align: center;
             top: 0px;
             width: 1024px;
             z-index: 3; }

  /* General */
  a { font-weight: bold;
      text-decoration: none; }
  a:link,a:visited { color: #f60; }
  a:active,a:hover { color : #c8dfff; }
  form { margin-top: 1px; }
  h1 { color: #f60;
       font-family: "Times New Roman", Times, serif;
       font-size: 24pt;
       font-weight: bold;
       margin-bottom: 1px;
       text-transform: lowercase; }
  h2 { color: #f60;
       font-family: "Times New Roman", Times, serif;
       font-size: 18pt;
       font-weight: bold;
       margin-bottom: 3px;
       text-transform: lowercase; }
  h3 { color: #f60;
       font-family: "Times New Roman", Times, serif;
       font-size: 14pt;
       font-weight: bold;
       margin-bottom: 3px;
       text-transform: lowercase; }
  img { border-width: 0px; }
  ul li { list-style: disc outside none; }
  ol,ul { margin-bottom: 3px;
          margin-left: 1em;
          margin-top: 3px;
          padding-left: 5px; }
  select,textarea,.txt { border: 2px solid #0d3a9f;  /* .txt is for input type="text" */
                         font-family: "Courier New", Courier, monospace;
                         font-size: 9pt; }
  table { border: 2px solid #f60;
          border-spacing: 2px; }
  td { font-size: 10pt; }  /* For Netscape Navigator 4 CSS bug */
  .btn { background-color: #0d3a9f;  /* .btn is for input type="submit|reset|button" */
         border: 2px solid #f60;
         color: white;
         font-family: Arial, Helvetica, sans-serif;
         font-size: 8pt; }

  /* Content */
  .cat { font-family: "Times New Roman", Times, serif;
         font-size: 12pt;
         font-weight: bold; }
  .hdln { font-family: "Times New Roman", Times, serif;  /* For header text */
	      font-size: 14pt;
	      font-weight: normal; }
  .lbl { font-size: 8pt;  /* For td cells that contain form labels */
         font-weight: bold;
         text-align: right;
         vertical-align: top;
         white-space: nowrap; }
  .msg { background-color: red;  /* For error messages generated by JSF */
         font-size: 8pt; }

  /* Table Styles */
  .post { width: 100%; }
  .post td { background-color: white;  /* For td cells in 'post' tables */
             border: 1px solid black; }
  .hdrw td,th { background-color: #c8dfff; }  /* For td cells in 'hdrw' rows */
  .hdrw th { font-family: "Times New Roman", Times, serif;
             font-size: 12pt;
             font-weight: bold;
             text-align: center; }
  .hdrw td a:link,.hdrw td a:visited { color: #0d3a9f; }

  /* Nav and Tools */
  .box { border: 1px solid white;
         color: white;
         font-size: 8pt;
         margin-top: 3px;
         padding: 1px; }
  #navigator .box { width: 165px; }
  #tools .box { width: 200px; }

  /* Dynamic Menus */
  .mnu_hdr { background-color: #c8dfff;  /* For expand/collapse header divs */
             border: 1px solid #0d3a9f;
             margin: 1px 0px;
             padding: 1px;
             position: relative; }
  .mnu_hdr a:link,.mnu_hdr a:visited,.mnu_hdr a:active,.mnu_hdr a:hover { color: #0d3a9f; }
  .menu { position: relative; }
  .menu td { font-size: 8pt;  /* For td cells in 'menu' tables */
             vertical-align:top; }
-->
